*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/planningMode.xml
app/.idea/workspace.xml
app/release/baselineProfiles/0/app-release.dm
app/release/baselineProfiles/1/app-release.dm
1.0.md
.idea/markdown.xml
.idea/markdown.xml
1.0.md
app/.idea/vcs.xml
app/release/app-release.aab
